html, html * {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
}

section, header, footer {
  width: 100%;
  padding: 0 24px;
}

a {
  display: inline-block;
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}

input, textarea, select {
  border-radius: 0;
  font-family: inherit;
}

a.active {
  font-weight: bold;
}

.panels, .history {
  max-width: 842px;
}

@media screen and (min-width: 1024px) {
  section, header, footer {
    max-width: 1200px;
    margin: auto;
  }

  section {
    padding: 5em 24px;
  }
}