.bg {
  background-image: url('../img/village.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  & > * {
    color: $alt-text-color;
  }

  &:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
  }
}

.main {
  background-image: url(../img/logo-background.svg);
  background-position: -20px -50px;
  background-repeat: no-repeat;
}

@media screen and (min-width: $tablet){
  .main {
    background-position: top -200px right -100px;
  }
}