.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 1.4rem 1.5rem;
  background-color: $primary-color;
  color: $alt-text-color;
  border: 1px solid $primary-color;

  &:nth-child(even),
  [data-variant="secondary"]{
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: transparent;
  }
}