.footer {
  padding-bottom: 1.5rem;
  color: $primary-color;
  font-weight: 600;

  &__container {
    padding-top: 1.5rem;
    border-top: 1px solid $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    &--ld {
      display: flex;
      align-items: center;

      &:after {
        content: url("../img/ld.svg");
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
}