.hero {
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  padding-bottom: 6rem;

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 2.6em;
    text-transform: uppercase;
    gap: 0.3rem;

    &:after {
      content: "";
      height: 3px;
      width: 60px;
      background-color: $background-color;
    }
  }

  &__provencal {
    font-family: "Ananda", "Brush Script MT", cursive;
    font-size: 0.7em;
    text-transform: initial;
  }

  &__logo {
    position: absolute;
    margin-top: 0.5rem;
    right: 24px;
    width: 120px;
    height: auto;
  }
}

@media screen and (min-width: $tablet){
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 4.5rem;

    &__title {
      font-size: 3.5em;
      margin-left: 20rem;
      margin-top: 5rem;
    }

    &__logo {
      right: initial;
      left: 24px;
      max-width: 283px;
      min-width: 250px;
    }
  }
}

@media screen and (min-width: $laptop){
  .hero {
    &__title {
      font-size: 4.5em;
      margin-left: 23rem;
      margin-top: 5rem;
    }

    &__logo {
      right: initial;
      left: 24px;
      width: 100%;
    }
  }
}