.hero {
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  padding-bottom: 6rem;

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 2.6em;
    text-transform: uppercase;
    gap: 0.3rem;

    &:after {
      content: "";
      height: 3px;
      width: 60px;
      background-color: $background-color;
    }
  }

  &__provencal {
    font-family: "Ananda";
    font-size: 0.7em;
    text-transform: initial;
  }

  &__logo {
    position: absolute;
    margin-top: 0.5rem;
    right: 24px;
    width: 120px;
    height: auto;
  }
}