/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /*clip-path: inset(50%);*/
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
}

@font-face {
  font-family: "Ananda";
  src: url("../fonts/Ananda-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, dt, label {
  font-weight: 600;
}

p, a, small, textarea, dd {
  line-height: 1.3em;
}

p {
  margin-bottom: 1em;
}

a {
  color: inherit;
}

textarea, input {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

/* TABLET */
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3em;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 4.5em;
  }
}
html, html * {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
}

section, header, footer {
  width: 100%;
  padding: 0 24px;
}

a {
  display: inline-block;
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}

input, textarea, select {
  border-radius: 0;
  font-family: inherit;
}

a.active {
  font-weight: bold;
}

.panels, .history {
  max-width: 842px;
}

@media screen and (min-width: 1024px) {
  section, header, footer {
    max-width: 1200px;
    margin: auto;
  }
  section {
    padding: 5em 24px;
  }
}
.header {
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  color: #FFFFFF;
}
.header__container {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 2rem;
}
.header__title {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.header__title--ananda {
  font-size: 1.6em;
  font-family: "Ananda";
}
.header__title--bold {
  font-size: 1.1em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 3.5rem;
  }
  .header__container {
    padding-bottom: 3rem;
  }
  .header__title {
    font-size: 1.2em;
  }
}
.bg {
  background-image: url("../img/village.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg > * {
  color: #FFFFFF;
}
.bg:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}

.main {
  background-image: url(../img/logo-background.svg);
  background-position: -20px -50px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .main {
    background-position: top -200px right -100px;
  }
}
.hero {
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.hero__title {
  display: flex;
  flex-direction: column;
  font-size: 2.6em;
  text-transform: uppercase;
  gap: 0.3rem;
}
.hero__title:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #FFFFFF;
}
.hero__provencal {
  font-family: "Ananda";
  font-size: 0.7em;
  text-transform: initial;
}
.hero__logo {
  position: absolute;
  margin-top: 0.5rem;
  right: 24px;
  width: 120px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 4.5rem;
  }
  .hero__title {
    font-size: 3.5em;
    margin-left: 20rem;
    margin-top: 5rem;
  }
  .hero__logo {
    right: initial;
    left: 24px;
    max-width: 283px;
    min-width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 4.5em;
    margin-left: 23rem;
    margin-top: 5rem;
  }
  .hero__logo {
    right: initial;
    left: 24px;
    width: 100%;
  }
}
.panels {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.panels__title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.panels__title:after {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #870727;
}
.panels__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panels__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.panels__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 182px;
}

@media screen and (min-width: 768px) {
  .panels {
    padding-top: 12rem;
  }
  .panels__title {
    font-size: 2.6em;
    margin-bottom: 1em;
  }
  .panels__list {
    flex-direction: row;
    gap: 2rem;
  }
  .panels__img {
    height: 254px;
  }
  .panels__item:nth-child(even) > img {
    height: 200px;
  }
}
.history__title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.history__title:after {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #870727;
}
.history__text {
  text-wrap: pretty;
  margin-bottom: 2.5rem;
}
.history__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  padding-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  .history {
    padding-top: 2rem;
  }
  .history__title {
    font-size: 2.6em;
    margin-bottom: 1em;
  }
  .history__container {
    flex-direction: row;
  }
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 1.4rem 1.5rem;
  background-color: #870727;
  color: #FFFFFF;
  border: 1px solid #870727;
  transition: 0.3s ease-out;
}
.cta:hover {
  background-color: #FFFFFF;
  color: #870727;
}
.cta:nth-child(even),
.cta [data-variant=secondary] {
  color: #870727;
  border: 1px solid #870727;
  background-color: transparent;
}
.cta:nth-child(even):hover,
.cta [data-variant=secondary]:hover {
  background-color: #870727;
  color: #FFFFFF;
}

.footer {
  padding-bottom: 1.5rem;
  color: #870727;
  font-weight: 600;
}
.footer__container {
  padding-top: 1.5rem;
  border-top: 1px solid #870727;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link--ld {
  display: flex;
  align-items: center;
}
.footer__link--ld:after {
  content: url("../img/ld.svg");
  display: block;
  width: 20px;
  height: 20px;
}
